* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #08080c;
  color: #e4e4ef;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

table {
  font-family: inherit;
}
